*{
  margin: 0;
  padding: 0;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  box-sizing: border-box;
}
div {
  color: black;
}
.container{
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(250deg, rgb(85, 85, 255), rgb(98, 244, 196));
  padding: 10px;
}
.center{
  width: 100%;
  max-width: 1000px;
  background: whitesmoke;
  padding: 40px 30px 70px;
  border-radius: 80px;
  margin: 80px auto 20px;
}
.center h1{
  display: flex;
  align-items: center;
  margin-bottom: 25px
}
.input-field{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgb(234, 233, 233);
  border-radius: 50px;
  padding-left: 20px;
  margin-bottom: 25px;
}
input{
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 13px;
}
button{
  border: none;
  outline: none;
  padding: 10px 25px;
  background: rgb(94, 255, 236);
  font-size: 30px;
  cursor: pointer;
  border-radius: 50px;
}
ul li{
  list-style: none;
  font-size: 20px;
  padding: 15px 10px 8px 28px;
  user-select: none;
  cursor: pointer;
  position: relative;
}
ul li.done{
  color: rgb(247, 117, 139);
  text-decoration: line-through;
}
ul li span {
  position: absolute;
  right: 15px;
  top: 7px;
  width: 30px;
  height: 30px;
  font-size: 30px;
  color: black;
  line-height: 30px;
  text-align: center;
  border-radius: 100%;
}
ul li span:hover{
  background:rgb(183, 238, 219);
}
ul li label.due{
  position: absolute;
  right: 60px;
  top: 7px;
  width: 130px;
  height: 30px;
  font-size: 15px;
  color: black;
  line-height: 30px;
  text-align: center;
  border-radius: 100%;
}
.date{
  position: relative;
}
select{
  background-color: rgb(214, 213, 213);
  border: none;
  width: 100%;
  text-align: center;
  font-size: 20px;
  border-radius: 30px;
  position: relative;
}
